.container img, iframe{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.col-md-12{
    padding-top: 42px;
}
.container p{
    font-size: 17px;
    line-height: 36px;
    padding: 0px 0px 45px 0px;
}