.service--items{
    margin: 32px 0;
}
.service--item{
    margin: 24px 0;
    background-color: #f0f2f5;
    border-radius: 8px;
    padding: 16px;
    padding-right: 28px;
}
.service--item--title{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 16px;
    color: #000;
}
.service--item--image img{
    margin-left: 24px;
    max-width: 90%;
    border-radius: 8px;
}
.service--item-description{
    border-radius: 8px;
    background-color: #fff;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.service--item--price{
    margin: 48px 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.service--item--price p{
    font-size: 20px;
}
.service--price{
    font-size: 36px;
    padding-left: 36px;
    color: #da6717;
    font-weight: 700;

}
.service--item--price--txt{
    padding-left: 24px;
}